body {
    background-color: #F0FFF0;
}

h1 {
    color: black;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: black;
    text-align: center;
}

p {
    font-family: "Georgia", serif;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
}

.fun {
  color: blue;
}

img{
  display: block;
  margin: 0 auto;
  padding: 1px;
  border: 1px solid black;
}

ul {
  color: black;
}

section {
 display: flex;
 padding-top: 10px;
}

aside {
 flex: 1;
 border: 1px solid black;
 border-radius: 5px;
}

article {
 flex: 10;
}
